@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(112, 22, 60);
  /* background: linear-gradient(
    0deg,
    rgb(8, 37, 43) 0%,
    rgb(9, 45, 52) 50%,
    rgb(11, 52, 60) 100%
  );*/
  min-height: 100vh;
}
h1 {
  margin-bottom: 4rem;
  margin-top: -8rem;
  font-family: Roboto;
  font-weight: 600;
  font-size: 3.5rem;
  color: rgb(229, 229, 229);
}
canvas {
  box-shadow: black 20px 10px 50px;
}
